@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p><button onclick="send();">send</button></p>
    <p><input id="wbinput" type="text"></p>
    <p>Answer:</p>
    <p id="answerbox"></p>
    <p>Activity:</p>
    <p id="activitybox"></p>

    <script>

        var testsocket = new WebSocket("ws://localhost:5098/ws");

        testsocket.onopen = function () {
            document.getElementById("activitybox").innerHTML = "OPEN"
        }

        testsocket.onclose = function () {
            document.getElementById("activitybox").innerHTML = "CLOSED"
        }

        testsocket.onerror = function () {
            document.getElementById("activitybox").innerHTML = "ERROR";
        }

        testsocket.onmessage = function (e) {
            document.getElementById("answerbox").innerHTML += "\nReceived: " + e.data;
        }

        function send() {
            testsocket.send(document.getElementById("wbinput").value);
        }

    </script>


</div>
